.help {
  &-sect {
    padding-top: 25px;
    padding-bottom: calc((100vw - 320px)/(576 - 320)*(430 - 265) + 265px);
    background:
      url('#') left bottom no-repeat,
      url('#') left bottom no-repeat, $form-bg-color;
    background-size: 100% calc((100vw - 320px)/(575 - 320)*(400 - 235) + 235px);
    &::before {
      display: none;
    }
    &__title {
      
    }
    &__desc {
      margin: 10px 0 35px;
      max-width: 295px;
    }

    &__form {
      max-width: 280px;
      margin: auto;
      >.inp-block {
        margin-top: 40px;
        max-width: 260px;
        &:first-child {
          margin-top: 0;
        }
      }
      >.check-inps-wrap {
        margin-top: 10px;
      }
      >.form__btn {
        margin-top: 30px;
      }
    }
  }
}