.help {
  &-sect {
    background-size: calc((100vw - 1230px)/(1720 - 1230)*(1000 - 750) + 750px) 92.5%, 520px 380px;
    background-position: top right, bottom left calc((100vw - 1230px)/(1720 - 1230)*(260 - 15) + 15px);
    &::before {
      top: -75px;
      left: calc((100vw - 1230px)/(1720 - 1230)*(260 - 15) + 15px);
    }
    &__form, &__desc, &__title {
      margin-left: 580px;
    }
  }
}