.help {
  &-sect {
    padding-bottom: 40px;
    background: #FDFBFA;
    &__form {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      max-width: none;
      >.inp-block {
        width: 100%;
        &:nth-child(2) {
          margin-top: 0;
        }
      }
      >.check-inps-wrap {
        display: inline-flex;
        flex-direction: column;
        max-width: 270px;
        margin-top: 30px;
        >.check-inp-block:first-child {
          margin-bottom: 7px;
        }
      }
      &-btn {
        margin: 30px 0 0 0;
      }
    }
  }
}