.help {
  &-sect {
    padding-top: 60px;
    background-size: calc((100vw - 1720px)/(1920 - 1720)*(1080 - 995) + 995px) 92.5%, 680px 450px;
    background-position: top right, bottom left calc((100vw - 1720px)/(1920 - 1720)*(260 - 145) + 145px);
    &::before {
      font-size: 180px;
      top: -125px;
      left: calc((100vw - 1720px)/(1920 - 1720)*(260 - 145) + 145px);
    }
    &__form, &__desc, &__title {
      margin-left: 890px;
    }
  }
}