.gallery {
  &-sect {
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &-slider {
    position: relative;
    &.slick-slider {
      .slick-track {
        display: flex;
      }
    }

    &__img {
      min-width: calc((100vw - 320px)/(575 - 320)*(277.5 - 150) + 150px);
      min-height: calc((100vw - 320px)/(575 - 320)*(277.5 - 150) + 150px);
      max-width: calc((100vw - 320px)/(575 - 320)*(277.5 - 150) + 150px);
      max-height: calc((100vw - 320px)/(575 - 320)*(277.5 - 150) + 150px);
      padding: 0 20px 15px 0;
    }

    &__prev, &__next {
      top: auto;
      transform: none;
      bottom: -10px;
    }

    &__prev {
      bottom: -8px;
      left: 45%;
      transform: translateX(-50%);
      &:active {
        transform: scale(.9) translateX(-50%) !important;
      }
    }
    &__next {
      right: 45%;
      transform: translateX(50%);
      &:active {
        transform: scale(.9) translateX(50%) !important;
      }
    }
  }


  &-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    min-height: 285px;
    z-index: 3;
    display: none;
    animation: fadeOut .5s;
    &.active {
      display: block;
      animation: fadeIn .5s;
    }
    &__close {
      width: 15px;
      display: block;
      margin: 0 10px 5px auto;
      >svg>path {
        stroke-width: 2;
      }
    }
    &-slider {
      display: flex;
      flex-direction: column-reverse;
      &__arrows {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 40px;
        padding: 10px 20px;
      }
      &__prev, &__next {
        width: 24px;
        height: 12px;
        position: relative;
        transform: none;
        right: auto;
        left: auto;
        bottom: auto;
        top: auto;
        &:active {
          transform: scale(.95);
        }
        >svg>path {
          stroke-width: 3;
          stroke: #fff;
        }
      }
      &__slide {
        width: 100%;
        height: 100%;
        &-wrap {
          padding: 0 10px;
          width: 300px;
          height: 285px;
        }
      }
    }
  }
}