.gallery {
  &-sect {
    padding-top: 50px;
  }
  &-slider {
    &__img-wrap {
      width: 270px;
      height: 273px;
      margin-right: 40px;
      &:nth-child(-n+4) {
        margin-bottom: 40px;
      }
    }
  }

}