.contacts {
	&-sect {
		flex-wrap: wrap;
		height: 571px;
		max-height: 750px;
		background: linear-gradient(to left, $white-text-color 45%, $white-color 10%);
		&::before {
			top: 145px;
			width: 585px;
			left: calc(50vw - 525px);
		}
		&__title {
			margin-top: 60px;
		}
		&__map-block {
			// width: calc((100vw - 992px)/(1229 - 992)*(675 - 575) + 575px);
			width: calc((100vw - 992px)/(1229 - 992)*(666 - 546) + 556px);
			margin: auto 0 0 calc((50vw - 480px) * -1);
			z-index: 1;
		}
		&__form {
			order: 12;
			margin: 0;
			z-index: 1;
		}
	}

	&-block {
		width: 575px;
	}
}