.contacts {
	&-sect {
		padding-top: 90px;
		background: none;
		height: 641px;
		&::before {
			top: 215px;
			width: auto;
			height: auto;
			left: calc(50vw - 645px);
		}
		&__map-block {
			// width: calc((100vw - 1230px)/(1719 - 1230)*(845 - 600) + 600px);
			// margin-left: calc((50vw - 600px) * -1);
			width: auto;
			margin-left: 0;
		}
		&__title {
			margin-bottom: 60px;
		}
		&__form-wrap {
			max-width: 615px;
			padding: 60px 90px 60px 140px;
			background-color: #fdfbfa;
			height: 100%;
			.form__title {
				margin-bottom: 20px;
			}
			.inp-block {
				&:last-of-type {
					margin-bottom: 20px;
				}
			}
			.check-inp-block {
				justify-content: flex-start;
				>.check-inp-block__pseudo-inp {
					margin-right: 8px;
				}
			}
			.form__btn {
				margin: 55px 0 0 10px;
			}
		}


	}
}