.contacts {
	&-sect {
		&::before {
			top: 20px;
			left: 25px;
		}
		&__map-block {
			margin-top: 30px;
			height: 170px;
		}
		&__form {
			max-width: 330px;
			width: 100%;
			padding-bottom: 15px;
			>.check-inp-block {
				justify-content: center;
				>.check-inp-block__lbl {
					width: 290px;
				}
			}
		}
	}
	&-block {
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		&__tel {
			order: 1;
			flex-basis: 55%;
		}
		&__email {
			order: 2;
		}
		&__address {
			order: 3;
			margin-bottom: 0;
			flex-basis: 58%;
		}
		&__link {
			margin-top: 7.5px;
			order: 4;
			align-self: flex-start;
		}
	}
}