.about {
  &-sect {
    grid-template-columns: 322px 1fr;
    &__title {
      grid-column: 1/span 2;
    }
    &__subtitle {
      grid-column: 1/span 2;
      max-width: none;
    }

    &__desc {
      &-block {
        grid-column: 1/span 2;
      }
    }
    &__link {
      margin-left: 0;
    }

    &__img {
      grid-row: 4;
      grid-column: 1;
      justify-self: stretch;
      width: 322px;
      height: 528px;
      margin-bottom: 0;
    }

    &__images-block {
      flex-direction: column;
      justify-content: center;
      justify-self: end;
      grid-row: 4;
      grid-column: 2;
    }

    &__preview-img {
      width: 200px;
      height: 125px;
      &-wrap {
        margin: 0 0 25px;
      }
    }

    &__logo {
      object-fit: contain;
      display: inline-block;
      margin-bottom: 25px;
    }
  }
}