.about {
  &-sect {
    grid-template-columns: 311px 100px 1fr;
    &__preview-img {
      width: 268px;
      height: 161px;
    }

    &__logo {
      width: 130px;
      height: 120px;
    }
  }
  
}