.desc-block__more-btn {
  display: none;
}

.about {
  &-sect {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    padding-bottom: 40px;
    padding-top: 40px;
    &__title {
      grid-row: 1;
    }
    &__subtitle {
      margin: 22px 0 15px;
      max-width: 278px;
      grid-row: 2;
    }
    &__desc {
      margin-bottom: 28px;
      line-height: 150%;
      &:last-of-type {
        margin: 0;
      }
      &-block {
        font-family: Montserrat;
        margin-bottom: 30px;
        transition: height .5s;
        grid-row: 3;
        &.elipsis {
          >.about-sect__desc:nth-of-type(n+3) {
            display: none;
          }
          >.desc-block__more-btn {
            display: inline-block;
            transform: translateY(-15px);
            border-bottom: 1px solid;
          }
        }
      }
    }

    &__img {
      width: 280px;
      height: 448px;
      margin-bottom: 10px;
      grid-row: 4;
    }

    &__preview-img {
      width: 135px;
      height: 75px;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
      &:first-child, &:last-child{
        display: none;
      }
    }

    &__images-block {
      grid-row: 5;
    }

    &__link {
      margin-top: 20px;
      justify-self: start;
      grid-row: 6;
      &::after {
        margin-left: 10px;
      }
    }
  }
}