.hero {
	&-sect {
		background: linear-gradient(to bottom, $white-color 250px, $form-bg-color 250px);
		&__img {
			width: 300px;
			height: 300px;
		}
		&::before {
			left: calc((100vw - 575px)/(420 - 575)*(-30 - 125) + 125px);
			font-size: 80px;
		}
	}
}

.pendant, .bracelet {
	&::before {
		font-size: 67px;
	}
}

.jewelry::before {
	font-size: 71px;
}

.earrings::before {
	font-size: 65px;
}

.necklace::before {
	font-size: 64px;
}

.brooch::before {
	font-size: 76px;
}