.hero {
	&-sect {
		padding-top: 475px;
		padding-bottom: 70px;
		background: linear-gradient(to bottom, $white-color 380px, $form-bg-color 380px);
		&__img {
			width: 450px;
			height: 450px;
		}
		&::before {
			top: 140px;
			left: calc((100vw - 767px)/(576 - 767)*(-100 - 92) + 92px);
			font-size: 120px;
		}
		&__title {
			font-size: 92px;
		}
		&__subtitle {
			max-width: 290px;
			font-size: 22px;
		}
	}
}

.pendant, .bracelet, .jewelry {
	>.hero-sect__title {
		font-size: 92px;
	}
}

.pendant, .bracelet {
	&::before {
		font-size: 100px;
	}
}

.jewelry::before {
	font-size: 109px;
}

.earrings::before {
	font-size: 96px;
}

.necklace::before {
	font-size: 94px;
}

.brooch::before {
	font-size: 114px;
}