.hero {
	&-sect {
		padding-top: 475px;
		padding-bottom: 70px;
		background: linear-gradient(to bottom, $white-color 380px, $form-bg-color 380px);
		// &::after {
		// 	width: 450px;
		// 	height: 450px;
		// 	// background-image: url('../img/pusets/hero-img.768.jpg');
		// }
		&__img {
			width: 450px;
			height: 450px;
		}
		&::before {
			top: 140px;
			left: calc((100vw - 767px)/(576 - 767)*(-100 - 92) + 92px);
			font-size: 120px;
		}
		&__title {
			font-size: 92px;
		}
		&__subtitle {
			max-width: 290px;
			font-size: 22px;
		}
	}
}