.hero {
	&-sect {
		padding-top: 520px;
		padding-bottom: 90px;
		background: linear-gradient(to bottom, $white-color 345px, $form-bg-color 345px);
		&__img {
			width: 520px;
			height: 465px;
		}
		&::before {
			font-size: 200px;
			transform: none;
			top: 150px;
			left: -25px;
		}
		&__title {
			margin: 0;
			font-size: 110px;
		}
		&__subtitle {
			margin: 0 0 75px;
		}
	}
}

.pendant, .bracelet, .jewelry {
	>.hero-sect__title {
		font-size: 110px;
	}
}