.hero-sect {
	padding-top: 300px;
	padding-bottom: 165px;
	background-image: linear-gradient(to bottom, $white-color 265px, $form-bg-color 265px);
	background-position-x: calc((50vw - 70px) * -1);
	&::after {
		width: 865px;
		height: 775px;
		background-image: url('../img/pusets/hero-img.1920.jpg');
		margin: 60px calc(50vw - 840px) 0 0;
	}
	&::before {
		top: -20px;
		left: 75px;
		font-size: 300px;
	}
	&__title {
		font-size: 160px;
	}
	&__subtitle {
		margin: 10px 0 85px;
		font-size: 30px;
		max-width: 400px;
	}
	&__btn {
		max-width: 200px;
		min-height: 58px;
	}
}