.production {
  &-sect {
    padding-top: 30px;
    &__subtitle {
      margin: 0 0 30px;
    }
  }
  &-slider {
    margin-top: 45px;
    padding-left: calc(50vw - 305px);
    &::before {
      top: 104px;
    }

    &__slide {
      // padding-left: calc(50vw - 305px);
      &-square {
        margin: 35px 0 10px 20px;
      }
    }

    &__arrows {
      top: 91px;
    }
  }
}