.production {
  &-sect {
    display: flex;
    flex-wrap: wrap;
    padding-top: 75px;
    &__text-wrap {
      width: 52%;
    }
    &__desc {
      width: 48%;
      margin-top: 5px;
    }
  }
  &-slider {
    margin-top: 95px;
    padding-left: calc(50vw - 600px);
    &__slide {
      // padding-left: calc(50vw - 600px);
      // padding-left: 0;
    }
    &__arrows {
      // top: 45%;
      right: 100px;
    }
  }
}