.help-sect {
  padding-top: 40px; }
  .help-sect-wrap {
    max-width: 610px; }
  .help-sect__form .inp {
    width: 284px; }
  .help-sect__form .check-inps-wrap, .help-sect__form .invalid {
    max-width: 340px;
    font-size: 10px; }
  .help-sect__form .check-inp-block {
    font-size: 10px; }
