.gallery-sect {
  padding-top: 140px; }

.gallery-slider__img {
  width: 390px;
  height: 395px; }

.gallery-popup {
  width: 1000px; }
  .gallery-popup__close {
    width: 30px; }
  .gallery-popup-slider__slide-wrap {
    padding: 0 100px;
    width: 1000px;
    height: 700px; }
    .gallery-popup-slider__slide-wrap::after {
      left: 100px;
      width: calc(100% - 200px); }
  .gallery-popup-slider__arrows {
    top: 417.5px;
    width: calc(100% + 450px); }
