.hdr__nav-link:nth-last-child(n+2) {
  margin-right: 60px; }

.hero-sect {
  padding-top: 275px;
  padding-bottom: 110px;
  background: linear-gradient(to bottom, #fff 260px, #FCF9F7 260px) no-repeat;
  background-position-x: calc((50vw - 300px) * -1); }
  .hero-sect::after {
    width: 690px;
    height: 620px;
    margin: 40px calc(50vw - 600px) 0 0; }
  .hero-sect::before {
    top: 45px;
    left: -15px; }
  .hero-sect__title {
    margin: 0; }
  .hero-sect__subtitle {
    margin: 5px 0 70px; }

.catalog-sect {
  padding-top: 110px;
  padding-bottom: 110px; }

.catalog-block {
  margin-top: 10px; }
  .catalog-block__catalog-card {
    max-width: 265px; }
  .catalog-block__more-btn {
    margin-top: 40px; }

.delivery-sect {
  padding-bottom: 120px; }
  .delivery-sect__subtitle {
    margin-top: 10px; }

.delivery-block {
  margin-top: 90px; }

.delivery-card {
  margin: 0 !important; }
  .delivery-card__img {
    width: 80px;
    height: 80px; }
  .delivery-card__title {
    margin: 30px 0 15px; }
  .delivery-card_desc {
    max-width: 270px; }

.help-sect {
  background-size: calc((100vw - 1230px)/(1720 - 1230)*(1000 - 750) + 750px) 92.5%, 520px 380px;
  background-position: top right, bottom left calc((100vw - 1230px)/(1720 - 1230)*(260 - 15) + 15px); }
  .help-sect::before {
    top: -75px;
    left: calc((100vw - 1230px)/(1720 - 1230)*(260 - 15) + 15px); }
  .help-sect__form, .help-sect__desc, .help-sect__title {
    margin-left: 580px; }

.about-sect {
  grid-template-columns: 311px 100px 1fr; }
  .about-sect__preview-img {
    width: 268px;
    height: 161px; }
  .about-sect__logo {
    width: 130px;
    height: 120px; }

.contacts-sect {
  background: none;
  height: 552px; }
  .contacts-sect::before {
    top: 135px;
    left: calc(50vw - 645px); }
  .contacts-sect__map-block {
    width: calc((100vw - 1230px)/(1719 - 1230)*(845 - 600) + 600px);
    margin-left: calc((50vw - 600px) * -1); }
  .contacts-sect__title {
    margin-bottom: 60px; }
  .contacts-sect__form {
    max-width: 615px;
    padding: 60px 90px 60px 140px;
    background-color: #fdfbfa;
    height: 100%; }
    .contacts-sect__form > .form__title {
      margin-bottom: 20px; }
    .contacts-sect__form > .inp-block:last-of-type {
      margin-bottom: 15px; }
    .contacts-sect__form > .check-inp-block {
      justify-content: flex-start; }
      .contacts-sect__form > .check-inp-block > .check-inp-block__pseudo-inp {
        margin-right: 8px; }
    .contacts-sect__form > .form__btn {
      margin: 55px 0 0 10px; }

.ftr__logo::before {
  width: 45px;
  height: 41px;
  margin-right: 15px; }
