@charset "UTF-8";
* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6, p, ul, ol, form, legend, fieldset, hr, figure, body {
  margin: 0;
  padding: 0;
  border: none; }

pre, picture, figure {
  display: inline-block;
  font: inherit; }

ol, ul {
  list-style: none; }

q {
  quotes: "«" "»"; }

input {
  font: inherit;
  padding: 0; }

button, a {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
  padding: 0; }

:focus {
  outline: 0; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box; }

[hidden] {
  display: none; }

audio:not([controls]) {
  display: none;
  height: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

@font-face {
  font-family: Playfair Display;
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Playfair Display;
  src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.container {
  padding: 0 20px; }

.contained {
  width: 100vw;
  margin-left: -20px; }

@media (min-width: 575.98px) {
  .container {
    padding: 0 calc(50% - 270px); }
  .contained {
    margin-left: calc((50vw - 270px) * -1); } }

@media (min-width: 767.98px) {
  .container {
    padding: 0 calc(50% - 305px); }
  .contained {
    margin-left: calc((50vw - 305px) * -1); } }

@media (min-width: 991.98px) {
  .container {
    padding: 0 calc(50% - 480px); }
  .contained {
    margin-left: calc((50vw - 480px) * -1); } }

@media (min-width: 1229.98px) {
  .container {
    padding: 0 calc(50% - 600px); }
  .contained {
    margin-left: calc((50vw - 600px) * -1); } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeInBottom {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fadeInBottom {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

body {
  font: 16px/normal Playfair Display;
  color: #403637; }

.slick-track {
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.disabled,
.slick-disabled {
  opacity: .5;
  cursor: not-allowed; }
  .disabled:focus,
  .slick-disabled:focus {
    outline: none !important; }
  .disabled:active,
  .slick-disabled:active {
    transform: none !important; }

.hide {
  display: none !important; }

.site-link {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #CBA696;
  line-height: 150%;
  transition: border-bottom-color .35s; }
  .site-link::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 5px;
    background: url("../img/next-arrow.svg") center/contain no-repeat; }

.loader {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #403637;
  border-left-color: #403637;
  -webkit-animation: spin .5s linear infinite;
  animation: spin .5s linear infinite; }
  .loader-bg {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 12; }
    .loader-bg.active {
      display: flex;
      -webkit-animation: fadeIn .5s;
      animation: fadeIn .5s; }

.duplicate-title {
  position: relative; }
  .duplicate-title::before {
    content: attr(data-title);
    position: absolute;
    font-size: 60px;
    letter-spacing: 0.01em;
    color: #FDFBFA;
    z-index: 1;
    pointer-events: none; }

.close > svg,
.prev > svg,
.next > svg,
button > svg {
  width: 100%;
  height: 100%;
  pointer-events: none; }
  .close > svg > path,
  .prev > svg > path,
  .next > svg > path,
  button > svg > path {
    transition: stroke .5s; }

.check-inp-block.focus {
  outline: 1px dotted #403637; }

.logo {
  display: flex;
  align-items: center;
  font: 14px Playfair Display; }
  .logo::before {
    content: '';
    display: inline-block;
    margin-right: 3px;
    width: 27px;
    height: 23px;
    background: url("../img/logo.svg") center/contain no-repeat; }

.burger-btn {
  width: 26px;
  font-size: 0;
  color: #987A6E; }
  .burger-btn > svg {
    overflow: visible; }
  .burger-btn.active .top {
    transform: translate(2px, -2px) rotate(45deg); }
  .burger-btn.active .middle {
    width: 26px;
    transform: translate(-6px, 15px) rotate(-45deg); }
  .burger-btn.active .bottom {
    transform: translate(-8px, 7px) rotate(-45deg); }
  .burger-btn-line {
    display: inline-block;
    width: 100%;
    height: 2px;
    pointer-events: none;
    fill: currentColor;
    transform: translateY(0px) rotate(0deg);
    transition: transform .5s, opacity .5s, width .5s; }
    .burger-btn-line.middle {
      width: 73%; }

.burger-btn:active,
.mobile-menu__link:active,
.contacts-block__tel:active,
.contacts-block__email:active,
.contacts-block__link:active,
.ftr__site-link:active,
.ftr__dev-link:active,
.hdr__nav-link:active,
.catalog-block__more-btn:active {
  transform: scale(0.95); }

.delivery-card__guarantee:active,
.btn:active,
.btn-ol:active {
  transform: scale(0.975); }

.slick-dots > li > button:active {
  transform: scale(0.825); }

.slick-dots {
  font-feature-settings: 'pnum' on, 'lnum' on; }

.mobile-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 70vw;
  width: 500px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: 35px 20px;
  font-size: 16px;
  background-color: #fff;
  z-index: 5;
  overflow: auto; }
  .mobile-menu::before {
    font-size: 200px;
    transform: rotate(-90deg);
    bottom: 52%;
    height: 0.57em;
    line-height: 0.6em;
    overflow: hidden;
    z-index: -1;
    left: calc((100vw - 320px)/(575 - 320)*(48 - -131) + -131px); }
  .mobile-menu__logo::before {
    min-width: 38px;
    height: 35px;
    margin-right: 9px; }
  .mobile-menu__logo-text {
    font-size: 14px; }
  .mobile-menu.active {
    display: flex; }
  .mobile-menu__nav {
    display: flex;
    flex-direction: column; }
  .mobile-menu__link:nth-last-child(n+2) {
    margin-bottom: 30px; }
  .mobile-menu__tel {
    display: block;
    font-family: Montserrat; }
  .mobile-menu__site-link {
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid #CBA696;
    line-height: 150%;
    margin-top: 10px; }
    .mobile-menu__site-link::after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 5px;
      margin-left: 10px;
      background: url("../img/next-arrow.svg") center/contain no-repeat; }

.btn, .btn-ol {
  width: 100%;
  position: relative;
  width: 100%;
  font: bold 16px Playfair Display;
  letter-spacing: 0.02em; }

.btn {
  background-color: #DD7D5C;
  color: #FDFBFA; }
  .btn::after, .btn::before {
    content: '';
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 100%;
    height: 100%;
    border: 1px solid #DD7D5C;
    pointer-events: none;
    transition: all .5s; }
  .btn::after {
    top: -5px;
    left: -5px; }

.btn-ol {
  color: #403637;
  border: 1px solid #DD7D5C;
  transition: background-color .5s, color .5s; }

.sect-title {
  font-size: 26px; }

.sect-subtitle {
  font: 500 16px/150% Montserrat; }

.arrows {
  display: inline-flex;
  align-items: center; }

.next, .prev {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18.2px;
  height: 6.5px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1; }
  .next > svg > path, .prev > svg > path {
    stroke: #CBA696;
    stroke-width: 2; }

.prev {
  margin-bottom: -8px;
  right: auto;
  left: 0; }

.info-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 11px;
  height: 11px;
  background-color: #E8D4C9;
  border: 1px solid transparent;
  font: 600 8px Montserrat;
  color: #CBA696;
  margin-right: 5px;
  transition: background-color .35s, border-color .35s; }

.form__title {
  font-size: 26px; }

.form__inp-block {
  margin-top: 36px; }
  .form__inp-block:last-of-type {
    margin-bottom: 10px; }
  .form__inp-block > .inp {
    width: 100%;
    height: 19px; }

.form__btn {
  display: block;
  margin: 25px auto 0;
  max-width: 160px;
  min-height: 47px; }

#privacy-policy-error {
  width: 100%;
  order: 10; }

label.invalid {
  font-size: 8px;
  color: #f00;
  text-align: center;
  margin-top: 5px; }

.check-inp-block {
  width: 101%;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  font: 8px Montserrat;
  cursor: pointer; }
  .check-inp-block__inp {
    margin: 0;
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .check-inp-block__inp:checked ~ .check-inp-block__pseudo-inp {
    background-color: #CBA696; }
  .check-inp-block__inp:checked ~ .check-inp-block__lbl {
    text-shadow: 0px 0px .1px; }
  .check-inp-block__pseudo-inp {
    font-size: 0;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #CBA696;
    transition: background-color .4s; }
    .check-inp-block__pseudo-inp::after {
      content: '';
      width: 5px;
      height: 5px;
      background: url("../img/check.svg") center/contain no-repeat; }

.inp-block {
  position: relative;
  font: 16px Montserrat; }
  .inp-block__lbl {
    position: absolute;
    left: 0;
    pointer-events: none;
    transition: font-size .4s, color .4s, top .4s;
    font-size: 12px;
    color: #CBA696;
    top: -17px; }

.inp {
  border: none;
  background: none;
  border-bottom: 1px solid #987A6E;
  color: #403637;
  font-family: inherit; }
  .inp ~ .inp-block__lbl {
    top: -1px;
    color: #987A6E;
    font-size: 16px; }
  .inp.focus {
    border-bottom-color: currentColor; }
    .inp.focus ~ .inp-block__lbl {
      font-size: 12px;
      color: #CBA696;
      top: -17px; }
  .inp::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0); }
  .inp::-moz-placeholder {
    color: rgba(0, 0, 0, 0); }
  .inp:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0); }
  .inp::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0); }
  .inp::placeholder {
    color: rgba(0, 0, 0, 0); }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(64, 54, 55, 0.7) !important;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  z-index: 2; }
  .overlay.active {
    display: block; }

.thanks-popup,
.overlay,
.trying-popup,
.video-popup {
  display: none;
  -webkit-animation: fadeOut .5s;
  animation: fadeOut .5s; }
  .thanks-popup.active,
  .overlay.active,
  .trying-popup.active,
  .video-popup.active {
    display: flex;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s; }

.trying-popup, .thanks-popup {
  max-width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center; }

.trying-popup {
  flex-direction: column;
  width: 320px;
  max-height: 700px;
  padding: 15px 25px 30px;
  overflow: auto;
  z-index: 5; }
  .trying-popup__close {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 0 10px auto;
    transform: translateX(12.5px); }
    .trying-popup__close:active {
      transform: translateX(12.5px) scale(0.9); }
    .trying-popup__close > svg {
      vertical-align: super;
      pointer-events: none; }
  .trying-popup__title {
    font: 600 18px Montserrat;
    color: #987A6E;
    order: 1; }
  .trying-popup__desc {
    font: 13.5px/120% Montserrat;
    color: #987A6E;
    order: 3; }
  .trying-popup__product.catalog-card {
    order: 2;
    margin: 10px 0;
    max-width: 100%;
    text-align: left;
    padding: 0;
    flex-flow: column wrap;
    justify-content: center;
    height: 82px;
    min-height: 82px; }
  .trying-popup__product > .catalog-card__img {
    width: 75px;
    height: 75px; }
  .trying-popup__product > .catalog-card__title {
    margin: 0;
    min-width: 0;
    font-size: 12px; }
  .trying-popup__product > .catalog-card__desc {
    margin-top: 15px;
    font-size: 10px;
    line-height: 160%;
    position: relative; }
    .trying-popup__product > .catalog-card__desc::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: -7.5px;
      left: 0;
      width: 80%;
      border-bottom: 1px solid #CBA696; }
  .trying-popup__form {
    text-align: left;
    order: 4; }
    .trying-popup__form > .inp-block {
      font-size: 15px; }
      .trying-popup__form > .inp-block > .inp:placeholder-shown ~ .inp-block__lbl {
        font-size: 15px; }
      .trying-popup__form > .inp-block > .inp:focus ~ .inp-block__lbl {
        font-size: 11px; }

.thanks-popup {
  flex-direction: column;
  width: 280px;
  padding: 20px 50px 45px;
  z-index: 5;
  border: 1px solid #987A6E; }
  .thanks-popup__close {
    width: 15px;
    height: 15px;
    display: block;
    margin: 0 0 10px auto;
    transform: translateX(30px); }
    .thanks-popup__close > svg {
      vertical-align: super; }
    .thanks-popup__close:active {
      transform: translateX(30px) scale(0.9); }
  .thanks-popup__title {
    font-size: 22px;
    line-height: 130%; }
  .thanks-popup__desc {
    margin-top: 15px;
    font: 15px/130% Montserrat;
    color: #987A6E; }

.quiz-popup {
  max-width: 300px;
  width: 100%;
  max-height: calc(100% - 50px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  font-family: Montserrat;
  color: #987A6E;
  overflow: auto;
  z-index: 5;
  display: none;
  -webkit-animation: fadeOut .5s;
  animation: fadeOut .5s; }
  .quiz-popup.active {
    display: block;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s; }
  .quiz-popup::before {
    font: bold 120px Playfair Display;
    z-index: -1;
    left: -28px;
    bottom: 20px;
    line-height: 100%; }
  .quiz-popup__close {
    display: block;
    width: 12px;
    height: 12px;
    margin: -10px -10px 0 auto; }
    .quiz-popup__close > svg {
      vertical-align: top; }
  .quiz-popup__title {
    font-weight: 600;
    line-height: 140%; }
  .quiz-popup__desc {
    font-size: 14px;
    line-height: 140%;
    margin: 20px 0 40px; }
  .quiz-popup__form > .form__title {
    display: block;
    margin: 45px auto 0;
    max-width: 200px;
    text-align: center;
    font: bold 18px/140% Montserrat; }
  .quiz-popup__form > .form__subtitle {
    display: block;
    margin: 20px auto 0;
    text-align: center;
    font: 500 14px/140% Montserrat; }
  .quiz-popup__form .check-inp-block > label.invalid {
    max-width: 200px;
    text-align: left;
    margin-left: 20px; }
  .quiz-popup__form .check-inp-block > .check-inp-block__pseudo-inp {
    margin-right: 10px;
    width: 10px;
    height: 10px; }
  .quiz-popup__form .check-inp-block > .check-inp-block__lbl {
    max-width: 200px; }
  .quiz-popup__form > .form__btn {
    max-width: 210px;
    min-height: 47px;
    line-height: 47px;
    margin-bottom: 30px; }
  .quiz-popup__thanks-title {
    display: block;
    margin: 70px auto 50px;
    font-size: 20px;
    text-align: center; }
  .quiz-popup__thanks-desc {
    margin-bottom: 30px;
    font: 500 14px/170% Montserrat;
    text-align: center; }
    .quiz-popup__thanks-desc:last-child {
      margin-bottom: 70px; }

.quiz-form {
  min-height: 250px;
  color: #403637;
  display: flex;
  flex-direction: column; }
  .quiz-form__title {
    margin-bottom: 10px;
    font-family: Playfair Display;
    color: #403637; }
  .quiz-form__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 160px;
    width: 100%;
    min-height: 47px;
    margin: 14px auto 20px;
    font: 600 16px Playfair Display;
    letter-spacing: 0.02em;
    color: #fff;
    background-color: #DD7D5C;
    border: 1px solid transparent;
    transition: background-color .35s, border-color .35s, color .35s; }
    .quiz-form__btn > svg {
      width: 20px;
      height: 6px;
      margin-left: 8px; }
      .quiz-form__btn > svg > path {
        stroke: currentColor;
        stroke-width: 1; }
  .quiz-form__lbl {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 8px;
    margin-bottom: 12px;
    border: 1px solid #E8D4C9;
    font-size: 14px;
    cursor: pointer; }
    .quiz-form__lbl-text {
      pointer-events: none; }
    .quiz-form__lbl.active > .quiz-form__pseudo-inp {
      box-shadow: inset 0 0 0 2px #fff; }
  .quiz-form__pseudo-inp {
    width: 14px;
    height: 14px;
    margin-right: 11px;
    border: inherit;
    background-color: #E8D4C9;
    box-shadow: inset 0 0 0 10px #fff;
    transition: box-shadow .35s;
    pointer-events: none; }

.progress__text {
  font-size: 14px;
  color: #403637; }

.progress__block {
  margin-top: 10px;
  height: 6px;
  border-radius: 5px;
  background-color: #E8D4C9;
  position: relative;
  overflow: hidden; }

.progress__bar {
  width: 0%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #DD7D5C;
  will-change: width;
  transition: width .25s; }

.video-popup {
  width: calc((100vw * 280) / 320);
  height: calc((100vw * 155) / 320);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3; }
  .video-popup__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -30px;
    right: -10px; }
    .video-popup__close > svg > path {
      stroke: #fff; }
  .video-popup .loader {
    border-top-color: #E8D4C9;
    border-left-color: #E8D4C9; }
    .video-popup .loader-bg {
      display: flex;
      background-color: transparent;
      z-index: 2; }
  .video-popup > iframe {
    z-index: 3; }

.hdr {
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  background-color: #E8D4C9;
  position: relative;
  z-index: 4; }
  .hdr__nav {
    display: none; }
  .hdr__logo > .logo__text {
    height: 22px; }
  .hdr.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: padding .4s;
    -webkit-animation: fadeInBottom .5s;
    animation: fadeInBottom .5s; }
  .hdr.active::after {
    width: 100%; }
  .hdr::after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 62.5%;
    height: calc(100% - 0.5px);
    border-bottom: 1px solid #987A6E;
    pointer-events: none;
    transition: width .5s; }

.hero-sect {
  padding-top: 295px;
  padding-bottom: 50px;
  background: linear-gradient(to bottom, #fff 200px, #FDFBFA 200px); }
  .hero-sect::before {
    top: 88px;
    left: calc((100vw - 420px)/(320 - 420)*(-38 - 60) + 60px);
    transform: rotate(-90deg);
    pointer-events: auto; }
  .hero-sect::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 247px;
    height: 267px;
    background: url("../img/pusets/hero-img.320.jpg") no-repeat;
    z-index: 2; }
  .hero-sect__title {
    font-size: 74px; }
  .hero-sect__subtitle {
    display: block;
    margin: 8px 0 32px;
    font: 20px/150% Montserrat;
    max-width: 270px; }
  .hero-sect__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 160px;
    min-height: 46px;
    line-height: 46px; }

.catalog-sect {
  padding-top: 80px;
  padding-bottom: 45px;
  overflow: hidden; }
  .catalog-sect__subtitle {
    max-width: 270px;
    margin-top: 5px;
    padding: 0 10px 15px 0;
    border-bottom: 1px solid #CBA696; }

.catalog-block {
  position: relative; }
  .catalog-block__more-btn {
    display: none;
    transition: border-bottom-color .5s; }
  .catalog-block__catalog-card {
    margin-top: 60px;
    cursor: pointer; }
    .catalog-block__catalog-card > .catalog-card__desc {
      height: 70px; }
  .catalog-block.slick-slider {
    margin-left: -20px;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse; }
    .catalog-block.slick-slider .catalog-card__price, .catalog-block.slick-slider .catalog-card__btn {
      transition: opacity .5s;
      opacity: 0;
      pointer-events: none; }
    .catalog-block.slick-slider .catalog-card.slick-current .catalog-card__price, .catalog-block.slick-slider .catalog-card.slick-current .catalog-card__btn {
      pointer-events: auto;
      opacity: 1; }
  .catalog-block__next {
    right: 20px; }
    .catalog-block__next::before {
      content: 'Дальше';
      margin-right: 5px;
      font: 12px Playfair Display;
      letter-spacing: 0.02em;
      display: none; }
  .catalog-block__prev {
    left: 20px; }
  .catalog-block .slick-track {
    display: flex; }
  .catalog-block__dots {
    position: relative;
    margin-top: 10px; }
    .catalog-block__dots > .slick-dots {
      display: flex;
      justify-content: center;
      color: #987A6E;
      position: relative; }
      .catalog-block__dots > .slick-dots::after, .catalog-block__dots > .slick-dots::before {
        content: '...';
        font: inherit;
        margin-right: 15px;
        display: none; }
      .catalog-block__dots > .slick-dots.elipsis-before::before {
        display: inline-block; }
      .catalog-block__dots > .slick-dots.elipsis-after::after {
        display: inline-block; }
      .catalog-block__dots > .slick-dots > li:last-child {
        order: 10; }
        .catalog-block__dots > .slick-dots > li:last-child > button {
          margin-right: 0; }
      .catalog-block__dots > .slick-dots > li:first-child {
        order: -1; }
      .catalog-block__dots > .slick-dots > li > button {
        margin-right: 15px; }
        .catalog-block__dots > .slick-dots > li > button.hide {
          display: none; }
      .catalog-block__dots > .slick-dots > li.slick-active {
        color: #000; }

.catalog-card {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 40px;
  font-family: Montserrat;
  color: #987A6E; }
  .catalog-card__img {
    display: block;
    width: 240px;
    height: 240px;
    -ms-grid-row-align: center;
    align-self: center; }
  .catalog-card__title {
    display: block;
    min-width: 210px;
    margin: 12px 0 5px;
    font-size: 16px;
    font-weight: 500; }
  .catalog-card__desc {
    display: block;
    max-width: 210px;
    font: 14px/170% Montserrat; }
  .catalog-card__bottom {
    margin-top: 40px; }
  .catalog-card__price {
    white-space: nowrap;
    font-size: 18px;
    font-family: Playfair Display;
    font-feature-settings: 'pnum' on, 'lnum' on; }
  .catalog-card__btn {
    min-width: 150px;
    max-width: 150px;
    min-height: 40px;
    margin-left: 30px; }
    .catalog-card__btn-text {
      pointer-events: none; }

.delivery-sect {
  overflow: hidden;
  padding-bottom: 50px; }
  .delivery-sect__subtitle {
    max-width: 275px;
    margin-top: 10px; }

.delivery-block.slick-slider {
  width: 100vw;
  margin-left: -20px;
  display: flex;
  flex-direction: column; }
  .delivery-block.slick-slider .delivery-card {
    padding-left: 40px; }

.delivery-block > .slick-list {
  position: relative;
  z-index: 1; }

.delivery-block .slick-track {
  display: flex; }

.delivery-block__arrows {
  margin-top: 20px;
  width: 100%;
  height: 5px;
  justify-content: center;
  position: relative;
  z-index: 0;
  order: 10; }
  .delivery-block__arrows > .next, .delivery-block__arrows > .prev {
    transform: none;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    position: relative;
    z-index: 0; }
  .delivery-block__arrows > .prev {
    margin-right: 12px; }

.delivery-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px; }
  .delivery-card__img {
    -ms-grid-row-align: center;
    align-self: center;
    width: 60px;
    height: 65px;
    margin-left: -40px;
    -o-object-fit: contain;
    object-fit: contain; }
  .delivery-card__title {
    margin: 40px 0 10px;
    padding-bottom: 4px;
    border-bottom: 1px solid #CBA696;
    font-size: 20px; }
  .delivery-card__desc {
    max-width: 240px;
    font: 16px/150% Montserrat; }
  .delivery-card__guarantee {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    position: relative;
    z-index: 2; }
    .delivery-card__guarantee.active > .info-dropdown {
      max-height: 61px;
      padding-top: 10px;
      padding-bottom: 10px; }
    .delivery-card__guarantee.active > .info-icon {
      background-color: transparent;
      border-color: #CBA696; }
    .delivery-card__guarantee:nth-child(2).active > .info-dropdown {
      max-height: 110px; }
    .delivery-card__guarantee:last-child.active > .info-dropdown {
      max-height: 105px; }
    .delivery-card__guarantee > .info-text, .delivery-card__guarantee > .info-icon {
      pointer-events: none; }
    .delivery-card__guarantee > .info-dropdown {
      padding: 0 40px 0 7px;
      margin-left: 18px;
      max-width: 208px;
      max-height: 0;
      font: 10px/140% Montserrat;
      text-align: left;
      color: #CBA696;
      background-color: #FDFBFA;
      transition: max-height .5s, padding .5s;
      will-change: height, max-height, padding;
      position: relative;
      overflow: hidden;
      z-index: 2; }
    .delivery-card__guarantee:nth-child(2) > .info-dropdown {
      max-width: 192px; }

.help-sect {
  padding-top: 25px;
  padding-bottom: calc((100vw - 320px)/(576 - 320)*(430 - 265) + 265px);
  background: #FDFBFA url("../img/pusets/help-sect-img.jpg") bottom/100% calc((100vw - 320px)/(420 - 320)*(285 - 235) + 235px) no-repeat; }
  .help-sect::before {
    display: none; }
  .help-sect__desc {
    margin: 10px 0 35px;
    max-width: 295px; }
  .help-sect__form {
    max-width: 280px;
    margin: auto; }
    .help-sect__form > .inp-block {
      margin-top: 40px;
      max-width: 260px; }
      .help-sect__form > .inp-block:first-child {
        margin-top: 0; }
    .help-sect__form > .check-inps-wrap {
      margin-top: 10px; }
    .help-sect__form > .form__btn {
      margin-top: 30px; }

.desc-block__more-btn {
  display: none; }

.about-sect {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: (auto)[7];
  grid-template-rows: repeat(7, auto);
  padding-bottom: 40px;
  padding-top: 75px; }
  .about-sect__title {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1; }
  .about-sect__subtitle {
    margin: 10px 0 10px;
    max-width: 278px;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1; }
  .about-sect__desc {
    margin-bottom: 20px;
    line-height: 150%; }
    .about-sect__desc:last-of-type {
      margin: 0; }
    .about-sect__desc-block {
      font-family: Montserrat;
      margin-bottom: 25px;
      transition: height .5s;
      -ms-grid-row: 3;
      grid-row: 3;
      -ms-grid-column: 1;
      grid-column: 1; }
      .about-sect__desc-block.elipsis > .about-sect__desc:nth-of-type(n+3) {
        display: none; }
      .about-sect__desc-block.elipsis > .desc-block__more-btn {
        display: inline-block;
        transform: translateY(-15px);
        border-bottom: 1px solid; }
  .about-sect__img {
    width: 280px;
    height: 448px;
    margin-bottom: 10px;
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1; }
  .about-sect__logo {
    display: none; }
  .about-sect__preview-img {
    width: 135px;
    height: 75px; }
    .about-sect__preview-img-wrap {
      position: relative;
      margin-right: 10px; }
      .about-sect__preview-img-wrap::after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-style: solid;
        border-width: 8px 0 8px 14px;
        border-color: transparent transparent transparent #fff;
        transition: border-color .35s; }
    .about-sect__preview-img:nth-child(4) {
      display: none; }
  .about-sect__images-block {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 1;
    grid-column: 1;
    display: flex; }
  .about-sect__link {
    margin-top: 20px;
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 1;
    grid-column: 1; }
    .about-sect__link::after {
      margin-left: 10px; }

.production-sect {
  padding-top: 35px;
  padding-bottom: 40px;
  overflow: hidden; }
  .production-sect__subtitle {
    margin: 10px 0 25px; }
  .production-sect__desc {
    line-height: 150%;
    font-family: Montserrat; }

.production-slider {
  margin-top: 30px;
  font-family: Montserrat;
  position: relative;
  padding-left: 20px;
  position: relative; }
  .production-slider::before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    top: 75px;
    width: 100vw;
    border-bottom: 1px solid; }
  .production-slider__slide-img {
    width: 58px;
    height: 60px;
    -o-object-fit: contain;
    object-fit: contain; }
  .production-slider__slide-square {
    width: 11px;
    height: 11px;
    background-color: #DD7D5C;
    margin: 10px 0 10px 10px;
    z-index: 1;
    position: relative; }
  .production-slider__slide-desc {
    line-height: 150%;
    max-width: 263px; }
  .production-slider__arrows {
    display: inline-flex;
    flex-direction: column-reverse;
    position: absolute;
    right: 40px;
    top: 62px; }
  .production-slider__next, .production-slider__prev {
    position: static;
    width: 21px;
    height: 7px; }
  .production-slider__prev {
    margin-top: 20px;
    margin-bottom: 0; }
  .production-slider .slick-track {
    display: flex; }

.gallery-sect {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px; }

.gallery-slider {
  position: relative; }
  .gallery-slider.slick-slider .slick-track {
    display: flex; }
  .gallery-slider__img {
    width: 100%;
    height: 100%;
    transition: -webkit-filter .5s;
    transition: filter .5s;
    transition: filter .5s, -webkit-filter .5s; }
    .gallery-slider__img-wrap {
      min-width: calc((100vw - 320px)/(575 - 320)*(257.5 - 130) + 130px);
      min-height: calc((100vw - 320px)/(575 - 320)*(262.5 - 135) + 135px);
      max-width: calc((100vw - 320px)/(575 - 320)*(257.5 - 130) + 130px);
      max-height: calc((100vw - 320px)/(575 - 320)*(262.5 - 135) + 135px);
      margin: 0 20px 15px 0;
      position: relative; }
      .gallery-slider__img-wrap::before, .gallery-slider__img-wrap::after {
        content: '';
        position: absolute;
        display: inline-block;
        pointer-events: none;
        opacity: 0;
        box-sizing: border-box;
        transition: opacity .5s;
        z-index: 1; }
      .gallery-slider__img-wrap::after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 71px;
        height: 71px;
        background: url("../img/zoom.svg") center/contain no-repeat; }
      .gallery-slider__img-wrap::before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(203, 166, 150, 0.2), rgba(203, 166, 150, 0.2)) top left/100% content-box no-repeat; }
  .gallery-slider__prev, .gallery-slider__next {
    top: auto;
    transform: none;
    bottom: -10px; }
  .gallery-slider__prev {
    bottom: -6.5px;
    left: 45%;
    transform: translateX(-50%); }
    .gallery-slider__prev:active {
      transform: scale(0.9) translateX(-50%) !important; }
  .gallery-slider__next {
    right: 45%;
    transform: translateX(50%); }
    .gallery-slider__next:active {
      transform: scale(0.9) translateX(50%) !important; }

.gallery-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  min-height: 285px;
  z-index: 3;
  display: none;
  -webkit-animation: fadeOut .5s;
  animation: fadeOut .5s; }
  .gallery-popup.active {
    display: block;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s; }
  .gallery-popup__close {
    width: 15px;
    display: block;
    margin: 0 10px 5px auto; }
    .gallery-popup__close > svg > path {
      stroke-width: 2; }
  .gallery-popup-slider {
    display: flex;
    flex-direction: column-reverse; }
    .gallery-popup-slider__img {
      cursor: pointer; }
    .gallery-popup-slider__arrows {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 100%;
      margin: 0 auto;
      height: 40px;
      padding: 10px 20px; }
    .gallery-popup-slider__prev, .gallery-popup-slider__next {
      width: 24px;
      height: 12px;
      position: relative;
      transform: none;
      right: auto;
      left: auto;
      bottom: auto;
      top: auto; }
      .gallery-popup-slider__prev:active, .gallery-popup-slider__next:active {
        transform: scale(0.95); }
      .gallery-popup-slider__prev > svg > path, .gallery-popup-slider__next > svg > path {
        stroke-width: 3;
        stroke: #fff; }
    .gallery-popup-slider__slide {
      width: 100%;
      height: 100%; }
      .gallery-popup-slider__slide-wrap {
        padding: 0 10px;
        width: 300px;
        height: 285px; }

.contacts-sect {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: linear-gradient(to top, #FDFBFA 440px, #fff 440px); }
  .contacts-sect::before {
    top: 210px;
    left: calc((100vw - 320px)/(419 - 320)*(30 - -25) + -25px);
    font-size: 120px;
    z-index: 0; }
  .contacts-sect__title {
    margin-bottom: 30px; }
  .contacts-sect__map-block {
    width: 100vw;
    margin: 60px 0 0 -20px;
    height: 140px; }
  .contacts-sect__form {
    margin: auto;
    padding: 30px 0 25px;
    max-width: 280px;
    width: 280px; }

.contacts-block {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  font: 16px/150% Montserrat; }
  .contacts-block__tel, .contacts-block__address, .contacts-block__email {
    margin-bottom: 15px; }
  .contacts-block__link {
    display: inline-flex;
    align-items: center; }
    .contacts-block__link-text {
      border-bottom: 1px solid #CBA696;
      transition: border-bottom-color .5s; }
    .contacts-block__link::after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 5px;
      margin-left: 20px;
      background: url("../img/next-arrow.svg") center/contain no-repeat; }

.ftr {
  padding-top: 15px;
  padding-bottom: 20px;
  font: 12px Montserrat;
  background-color: #CBA696; }
  .ftr__logo {
    margin-bottom: 25px;
    justify-content: center; }
    .ftr__logo > .logo__text {
      max-width: 98px;
      height: auto; }
    .ftr__logo::before {
      width: 45px;
      height: 40px;
      margin-right: 15px; }
  .ftr__privacy-policy-btn {
    margin: 7px 0; }
  .ftr__site-link {
    margin-bottom: 20px;
    border-bottom: 1px solid;
    transition: border-bottom-color .5s; }
    .ftr__site-link::after {
      display: none; }
  .ftr__dev-link, .ftr__privacy-policy-btn {
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .5s; }
  .ftr__dev-link {
    display: inline-flex;
    align-items: center; }
    .ftr__dev-link::after {
      content: '';
      display: inline-block;
      margin-left: 4px;
      width: 75px;
      height: 15px;
      background: url("../img/media-bay.svg") center/contain no-repeat; }
  .ftr__links-wrap, .ftr__copy-wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
