.burger-btn {
  display: none; }

.thanks-popup {
  width: 330px; }

.hdr__nav {
  display: block;
  font: 14px Montserrat;
  color: #403637; }
  .hdr__nav-link {
    display: inline-block;
    position: relative;
    transition: text-shadow .5s; }
    .hdr__nav-link::after {
      content: '';
      position: absolute;
      bottom: -2.5px;
      left: 0;
      width: 0;
      color: inherit;
      border-bottom: 1px solid currentColor;
      transition: width .35s; }
    .hdr__nav-link.active {
      text-shadow: 0 0 .1px; }
      .hdr__nav-link.active::after {
        width: 30%; }
  .hdr__nav-link:nth-last-child(n+2) {
    margin-right: 35px; }

.hero-sect::after {
  width: 575px;
  height: 575px;
  background-image: url("../img/hero-img.1440.jpg"); }

.delivery-card:last-child {
  margin: 35px auto 0; }

.help-sect {
  padding-bottom: 80px;
  background: linear-gradient(to left, #FDFBFA, #FDFBFA) top right/calc((100vw - 992px)/(1230 - 992)*(735 - 620) + 620px) 92.5% no-repeat, url("../img/help-sect-img.jpg") bottom left calc((100vw - 992px)/(1230 - 992)*(134 - 18) + 18px)/450px 300px no-repeat; }
  .help-sect::before {
    display: inline-flex;
    font-size: 130px;
    color: rgba(232, 212, 201, 0.15);
    z-index: -1;
    top: 0;
    left: calc((100vw - 992px)/(1230 - 992)*(134 - 18) + 18px); }
  .help-sect__title, .help-sect__desc {
    margin-left: 405px; }
  .help-sect__form {
    max-width: 555px;
    margin-right: 0; }
    .help-sect__form .inp {
      width: 247px; }

.about-sect {
  padding-top: 100px;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 311px 50px 1fr; }
  .about-sect__title {
    grid-row: 1;
    grid-column: 1; }
  .about-sect__subtitle {
    grid-row: 2;
    grid-column: 1; }
  .about-sect__desc-block {
    grid-row: 1/span 3;
    grid-column: 3; }
  .about-sect__img {
    grid-row: 3/span 3;
    grid-column: 1;
    margin: 0; }
  .about-sect__images-block {
    grid-row: 5;
    grid-column: 3;
    flex-direction: row;
    justify-self: start; }
  .about-sect__preview-img {
    width: 220px;
    height: 145px;
    margin: 0 10px 0 0; }
  .about-sect__logo {
    width: 130px;
    height: 120px;
    margin: 0 20px 0 0; }
  .about-sect__link {
    grid-row: 4;
    grid-column: 3;
    margin: 30px 0; }

.production-slider__slide {
  padding-left: calc(50vw - 480px); }

.gallery-slider__img-wrap {
  width: 225px;
  height: 225px;
  min-width: 1px;
  max-height: 1px;
  max-width: none;
  max-height: none;
  margin-right: 20px; }
  .gallery-slider__img-wrap:last-child, .gallery-slider__img-wrap:nth-child(4n) {
    margin-right: 0; }
  .gallery-slider__img-wrap:nth-child(-n+4) {
    margin-bottom: 20px; }

.gallery-popup {
  width: 655px; }
  .gallery-popup__close {
    width: 20px; }
  .gallery-popup-slider__slide-wrap {
    padding: 0 50px;
    width: 655px;
    height: 585px; }
    .gallery-popup-slider__slide-wrap::after {
      left: 50px;
      width: calc(100% - 100px); }
  .gallery-popup-slider__arrows {
    top: 292.5px;
    width: calc(100% + 250px); }

.contacts-sect {
  flex-wrap: wrap;
  height: 571px;
  max-height: 750px;
  background: linear-gradient(to left, #fdfbfa 45%, #fff 10%); }
  .contacts-sect::before {
    top: 145px;
    width: 585px;
    left: calc(50vw - 525px); }
  .contacts-sect__title {
    margin-top: 60px; }
  .contacts-sect__map-block {
    width: calc((100vw - 992px)/(1229 - 992)*(666 - 546) + 556px);
    margin: auto 0 0 calc((50vw - 480px) * -1);
    z-index: 1; }
  .contacts-sect__form {
    order: 12;
    margin: 0;
    z-index: 1; }

.contacts-block {
  width: 575px; }
