.sect-title {
  font-size: 32px; }

.trying-popup {
  padding: 35px 60px 30px;
  width: 100%;
  max-width: 800px;
  flex-flow: column wrap;
  align-content: space-between;
  height: 585px;
  min-height: 585px; }
  .trying-popup__close {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 25px;
    right: 25px;
    margin: 0;
    transform: none; }
    .trying-popup__close:active {
      transform: scale(0.9); }
  .trying-popup__title {
    order: 1;
    margin-top: 25px;
    width: 350px;
    text-align: left;
    font-size: 20px;
    white-space: nowrap; }
  .trying-popup__desc {
    order: 2;
    width: 300px;
    margin-top: 6px;
    white-space: nowrap;
    font-size: 14px; }
  .trying-popup__product > .catalog-card__img {
    width: 250px;
    height: 250px; }
  .trying-popup__product > .catalog-card__title {
    font-size: 16px; }
  .trying-popup__product > .catalog-card__desc {
    font-size: 14px; }
  .trying-popup__product.catalog-card {
    order: 3;
    flex-flow: column nowrap;
    max-width: 250px;
    height: 325px; }
  .trying-popup__form {
    max-width: 335px;
    width: 100%;
    order: 4;
    margin-top: 90px; }

.hero-sect {
  padding-top: 520px;
  padding-bottom: 90px;
  background: linear-gradient(to bottom, #fff 345px, #FCF9F7 345px); }
  .hero-sect::after {
    width: 520px;
    height: 465px; }
  .hero-sect::before {
    font-size: 200px;
    transform: none;
    top: 150px;
    left: -25px; }
  .hero-sect__title {
    margin: 0;
    font-size: 110px; }
  .hero-sect__subtitle {
    margin: 0 0 75px; }

.catalog-sect {
  padding-top: 90px;
  padding-bottom: 95px; }
  .catalog-sect__subtitle {
    padding: 0;
    border-bottom: none; }

.catalog-block {
  min-height: 980px;
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .catalog-block__more-btn {
    margin: 12px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #CBA696; }
    .catalog-block__more-btn::after {
      content: '';
      width: 12px;
      height: 6px;
      margin-left: 15px;
      background: url("../img/next-arrow.svg") center/contain no-repeat; }
  .catalog-block__dots {
    display: none; }
  .catalog-block__catalog-card {
    margin-top: 20px;
    max-width: 285px;
    padding: 25px; }
    .catalog-block__catalog-card .catalog-card__title {
      margin: 15px 0 5px; }
    .catalog-block__catalog-card .catalog-card__btn {
      margin: 0 -25px 0 auto; }
    .catalog-block__catalog-card .catalog-card__img {
      width: 235px;
      height: 235px; }

.delivery-sect {
  padding-bottom: 80px; }
  .delivery-sect__subtitle {
    margin-top: 0; }

.delivery-block {
  margin-top: 20px; }

.delivery-card {
  margin-top: 35px; }
  .delivery-card__img {
    margin-left: 0;
    align-self: flex-start; }
  .delivery-card__title {
    margin: 25px 0 20px; }
  .delivery-card__desc {
    max-width: 284px; }

.contacts-sect {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  background: linear-gradient(to top, #FDFBFA 665px, #fff 440px); }
  .contacts-sect::before {
    font-size: 220px;
    top: -30px;
    left: -30px; }
  .contacts-sect__map-block {
    order: 10;
    margin: 0 0 0 calc((50vw - 305px) * -1);
    height: 200px; }
  .contacts-sect__form {
    margin-top: 20px;
    max-width: 385px;
    padding-top: 60px;
    padding-bottom: 50px; }
    .contacts-sect__form > .form__title {
      margin-bottom: 10px;
      display: inline-block;
      font-size: 32px; }
    .contacts-sect__form > .form__btn {
      margin-top: 50px; }

.contacts-block__tel, .contacts-block__address {
  flex-basis: 50%; }

.contacts-block__email, .contacts-block__link {
  flex-basis: 46%; }
