.btn,
.btn-ol {
  font-size: 18px; }

.sect-title {
  font-size: 36px; }

.sect-subtitle {
  font-size: 18px; }

.hdr {
  padding-bottom: 16px;
  padding-top: 16px; }
  .hdr.fixed {
    padding-top: 10px;
    padding-bottom: 10px; }
  .hdr__nav {
    font-size: 18px; }
  .hdr__logo {
    font-size: 17px; }
    .hdr__logo::before {
      width: 48px;
      height: 48px;
      margin-right: 12px; }

.hero-sect {
  padding-top: 300px;
  padding-bottom: 165px;
  background-image: linear-gradient(to bottom, #fff 265px, #FCF9F7 265px);
  background-position-x: calc((50vw - 70px) * -1); }
  .hero-sect::after {
    width: 865px;
    height: 775px;
    background-image: url("../img/hero-img.1920.jpg");
    margin: 60px calc(50vw - 840px) 0 0; }
  .hero-sect::before {
    top: -20px;
    left: 75px;
    font-size: 300px; }
  .hero-sect__title {
    font-size: 160px; }
  .hero-sect__subtitle {
    margin: 10px 0 85px;
    font-size: 30px;
    max-width: 400px; }
  .hero-sect__btn {
    max-width: 200px;
    min-height: 58px; }

.catalog-sect {
  padding-top: 170px;
  padding-bottom: 170px; }
  .catalog-sect__subtitle {
    max-width: none; }

.catalog-block {
  margin: 0; }
  .catalog-block__more-btn {
    margin-top: 30px; }
  .catalog-block__catalog-card {
    margin-top: 55px;
    max-width: 385px; }
    .catalog-block__catalog-card > .catalog-card__img {
      width: 330px;
      height: 330px; }
    .catalog-block__catalog-card > .catalog-card__title {
      margin: 50px 0 5px;
      font-size: 18px; }
    .catalog-block__catalog-card > .catalog-card__desc {
      font-size: 16px;
      max-width: 330px; }
    .catalog-block__catalog-card .catalog-card__price {
      font-size: 24px; }
    .catalog-block__catalog-card .catalog-card__btn {
      max-width: 180px;
      min-height: 48px;
      margin-right: 0; }

.delivery-sect {
  padding-bottom: 225px; }

.delivery-block {
  margin-top: 50px; }

.delivery-card__desc {
  max-width: 380px; }

.delivery-card__guarantee > .info-dropdown {
  max-width: none;
  width: 100%;
  padding-right: 50%; }

.help-sect {
  padding-top: 40px;
  padding-bottom: 155px;
  background-size: calc((100vw - 1720px)/(1920 - 1720)*(1080 - 995) + 995px) 84.5%, 680px 450px;
  background-position: top right, bottom left calc((100vw - 1720px)/(1920 - 1720)*(260 - 145) + 145px); }
  .help-sect::before {
    font-size: 180px;
    top: -60px;
    left: calc((100vw - 1720px)/(1920 - 1720)*(260 - 145) + 145px); }
  .help-sect__desc {
    margin-top: 0; }
  .help-sect__form, .help-sect__desc, .help-sect__title {
    margin-left: 890px; }
  .help-sect__form {
    max-width: 640px; }
    .help-sect__form > .inp-block:nth-child(2),
    .help-sect__form .inp-block:nth-child(4) {
      margin-right: 20px; }
    .help-sect__form .inp {
      width: 288px; }
    .help-sect__form > .form__btn {
      margin-top: 65px;
      max-width: 200px;
      min-height: 58px; }

.about-sect {
  padding-top: 165px;
  grid-template-columns: 360px 245px 1fr;
  -ms-grid-columns: 360px 245px 1fr; }
  .about-sect__subtitle {
    grid-column: 1/span 2;
    margin: 5px 0 45px; }
  .about-sect__desc {
    width: 1120px;
    margin-bottom: 30px; }
    .about-sect__desc-block {
      grid-row: 2/span 2;
      margin-top: 15px; }
  .about-sect__img {
    width: 360px;
    height: 568px; }
  .about-sect__images-block {
    margin-top: 15px; }
  .about-sect__preview-img {
    width: 275px;
    height: 155px;
    margin-right: 30px; }
    .about-sect__preview-img:last-child {
      display: inline-block; }
    .about-sect__preview-img:nth-child(3) {
      margin-right: 30px; }
  .about-sect__logo {
    width: 130px;
    height: 120px;
    margin-right: 70px; }

.production-sect {
  padding-top: 140px; }
  .production-sect__text-wrap {
    width: 51.5%; }
  .production-sect__desc {
    width: 48%;
    margin-top: 10px; }

.production-slider__arrows {
  top: 50%; }

.production-slider__slide {
  padding-left: calc(50vw - 840px); }

.production-slider__next, .production-slider__prev {
  width: 29px;
  height: 10px; }

.production-slider__prev {
  margin-top: 30px; }

.gallery-sect {
  padding-top: 140px; }

.gallery-slider__img {
  width: 390px;
  height: 395px; }

.contacts-sect {
  padding-top: 170px;
  height: 728px; }
  .contacts-sect::before {
    top: 45px;
    left: calc(50vw - 875px);
    font-size: 340px; }
  .contacts-sect__title {
    transform: translateX(120px); }
  .contacts-sect__form > .form__title {
    font-size: 36px;
    transform: translateX(-20px); }
  .contacts-sect__map-block {
    width: 970px;
    margin: 3.4% calc(((95 * 100vw) / 1920) * -1) 0 0; }

.contacts-block {
  width: 825px;
  transform: translateX(120px);
  font-size: 18px; }
  .contacts-block__tel, .contacts-block__email {
    margin-bottom: 50px; }
  .contacts-block__link {
    align-self: center; }

.ftr__copy-wrap {
  margin: 0 auto 0 130px; }
