.catalog {
	&-sect {
		padding-top: 80px;
		padding-bottom: 45px;
		overflow: hidden;
		&__subtitle {
			max-width: 270px;
			margin-top: 5px;
			padding: 0 10px 15px 0;
			border-bottom: 1px solid $brown-light-color;
		}
	}

	&-block {
		position: relative;
		&__more-btn {
			display: none;
			transition: border-bottom-color .5s;
		}
		&__catalog-card {
			margin-top: 60px;
			cursor: pointer;
			>.catalog-card__desc {
				height: 70px;
				// height: 60px;
			}
		}
		&.slick-slider {
			margin-left: -20px;
			width: 100vw;
			display: flex;
			flex-direction: column;
			>.dots {
				order: 10;
			}
			.catalog-card__price, .catalog-card__btn {
				transition: opacity .5s;
				opacity: 0;
				pointer-events: none;
			}
			.catalog-card.slick-current {
				.catalog-card__price, .catalog-card__btn {
					pointer-events: auto;
					opacity: 1;
				}
			}
		}
		&__next {
			right: 20px;
			&::before {
				content: 'Дальше';
				margin-right: 5px;
				font: 12px Playfair Display;
				letter-spacing: 0.02em;
				display: none;
			}
		}
		&__prev {
			left: 20px;
		}
		.slick-track {
			display: flex;
		}
		&__dots {
			position: relative;
			margin-top: 10px;
			>.slick-dots {
				display: flex;
				justify-content: center;
				color: $brown-text-color;
				position: relative;
				&::after, &::before {
					content: '...';
					font: inherit;
					margin-right: 15px;
					display: none;
				}
				&.elipsis {
					&-before::before {display: inline-block;}
					&-after::after {display: inline-block;}
				}
				>li {
					&:last-child {
						order: 10;
						>button {
							margin-right: 0;
						}
					}
					&:first-child {
						order: -1;
					}
					>button {
						margin-right: 15px;
						&.hide {
							display: none;
						}
					}					
					&.slick-active {
						color: $black-color;
					}
				}
			}
		}
	}

	&-card {
		// width: 100vw;
		// padding: 0 20px 20px 40px;
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0 20px 20px;
		font-family: Montserrat;
		color: $brown-text-color;
		&__img {
			display: block;
			width: 240px;
			height: 240px;
			align-self: center;
		}
		&__title {
			display: block;
			min-width: 210px;
			margin: 12px 0 5px;
			font-size: 16px;
			font-weight: 500;
		}
		&__desc {
			display: block;
			// max-width: 210px;
			font: 14px/170% Montserrat;
		}
		&__bottom {
			// margin-top: 40px;
			margin-top: 35px;
		}
		&__price {
			white-space: nowrap;
			font-size: 18px;
			font-family: Playfair Display;
			font-feature-settings: 'pnum' on, 'lnum' on;
		}
		&__btn {
			min-width: 150px;
			max-width: 150px;
			min-height: 40px;
			// margin-left: 30px;
			margin-left: auto;
			&-text {
				pointer-events: none;
			}
		}
	}
}

.websites-block {
	display: flex;
	flex-direction: column;
	&__arrows {
		position: relative;
		height: 6.5px;
		margin: 20px auto 0 calc((100vw - 320px)/(575 - 320)*(130 - 10) + 10px);
		width: 280px;
		transform: translateX(-10px);
		order: 10;
	}
	&__prev {
		&:not(.slick-disabled):active {
			transform: translateY(-50%) scale(.925);
		}
	}
	&__next {
		&:not(.slick-disabled):active {
			transform: translateY(-50%) scale(.98);
		}
		&::before {
			content: 'Дальше ';
			font: inherit;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 135%;
			color: $brown-light-color;
		}
	}
}

.website-card {
	margin-top: 35px;
	margin-right: 20px;
	width: 280px;
	padding: 25px;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	border: 1px solid #F6F0EC;
	transition: border-color .5s;
	font-family: Montserrat;
	height: 411px;
	&.slick-active {
		border-color: $option-page-color;
		.website-card__arrow {
			opacity: 1;
		}
	}
	&:last-child {
		margin-right: 0;
		>.website-card__img {
			margin-top: 32%;
			width: 130px;
			height: 132px;
		}
		>.website-card__title {
			margin-top: 31%;
		}
		.website-card__desc {
			align-self: flex-start;
		}
		.website-card__arrow {
			margin-top: 16%;
		}
	}
	&__img {
		width: 220px;
		height: 220px;
		align-self: center;
	}
	&__title {
		margin: 50px 0 10px;
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		color: $brown-text-color;
	}
	&__desc {
		max-width: 145px;
		font-size: 14px;
		line-height: 150%;
		color: $brown-text-color;
		&-wrap {
			width: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
		}
	}
	&__arrow {
		width: 34px;
		height: 34px;
		background-color: $option-page-color;
		position: relative;
		opacity: 0;
		transition: opacity .5s;
		&::after {
			content: '';
			display: inline-block;
			width: 12px;
			height: 3px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url('../img/white-arrow.svg') center/cover no-repeat;
		}
	}
}