@import 'assets/colors';

// .hdr__nav-link:not(.disabled):hover {
// 	&::after {
// 		width: 100%;
// 	}
// }

.contacts-block__link-text,
.catalog-block__more-btn,
.ftr__site-link {
	&:hover {
		border-bottom-color: transparent;
	}	
}

.catalog-block__catalog-card:hover {
	&::after {
		opacity: 1;
	}
	.catalog-card__btn {
		background-color: $orange-color;
		color: $white-color;
	}
}

.ftr {
	&__privacy-policy-btn:hover, &__dev-link:hover {
		border-bottom-color: currentColor;
	}
}

.hdr__nav-link:not(.disabled):hover {
	// text-shadow: 0 0 1px;
	&::after {
		width: 30%;
	}
}

.btn:hover {
	// background-color: transparent;
	// color: $dark-color;
	&::before {
		right: 0;
		bottom: 0;
		box-sizing: border-box;
	}
	&::after {
		top: 0;
		left: 0;
		box-sizing: border-box;
	}
}

.btn-ol:hover {
	background-color: $orange-color;
	color: $white-color;
}

.delivery-card__guarantee {
	&:hover {
		>.info-icon {
			background-color: transparent;
			border-color: #CBA696;
		}
		>.info-dropdown {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

.delivery-card {
  &__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__guarantee {
    &:active {
      transform: none;
    }
    >.info-dropdown {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 100%;
      max-height: none;
      max-width: none;
      width: 182px;
      overflow: visible;
      padding: 7px 10px;
      margin: 0;
      pointer-events: none;
      transition: opacity .5s;
    }
  }
}
