@import 'assets/colors';
@import 'assets/variables';
@import 'assets/mixins';

.sect {
	&-title {
		font-size: 32px;
	}
}

.trying-popup {
	padding: 35px 60px 30px;
	width: 100%;
	max-width: 800px;
	flex-flow: column wrap;
	align-content: space-between;
	height: 585px;
	min-height: 585px;
	&__close {
		width: 22px;
		height: 22px;
		position: absolute;
		top: 25px;
		right: 25px;
		margin: 0;
		transform: none;
		&:active {
			transform: scale(.9);
		}
	}
	&__title {
		order: 1;
		margin-top: 25px;
		width: 350px;
		text-align: left;
		font-size: 20px;
		white-space: nowrap;
	}
	&__desc {
		order: 2;
		width: 300px;
		margin-top: 6px;
		white-space: nowrap;
		font-size: 14px;
	}

	&__product {
		>.catalog-card {
			&__img {
				width: 250px;
				height: 250px;
			}
			&__title {
				font-size: 16px;
			}
			&__desc {
				font-size: 14px;
			}
		}
		&.catalog-card {
			order: 3;
			flex-flow: column nowrap;
			max-width: 250px;
			height: 325px;
		}
	}

	&__form {
		max-width: 335px;
		width: 100%;
		order: 4;
		margin-top: 90px;
	}
}

.quiz {
	&-popup {
		flex-wrap: wrap;
		align-items: center;
		max-width: 610px;
		&.active {
			display: flex;
		}
		&__title {
			min-width: 100%;
		}
		&__close {
			width: 20px;
			height: 20px;
			margin: -20px -15px 0 auto;
		}

		.progress__block {
			width: 340px;
		}

		&__form {
			display: flex;
			flex-direction: column;
			align-items: center;
			>.form__title {
				max-width: none;
			}
			>.form__subtitle {
				font-size: 16px;
			}
			>.inp-block {
				width: 255px;
				margin: 35px auto 0;
			}
			>.check-inp-block {
				font-size: 9px;
				width: 305px;
				&:first-of-type {
					margin: 20px 0 10px;
				}
				>.check-inp-block__lbl {
					max-width: none;
				}
				>.check-inp-block__pseudo-inp {
					margin-right: 6px;
				}
			}
			>.form__btn {
				margin-top: 15px;
			}
		}

		&__thanks-desc {
			padding: 0 50px;
		}
	}
	&-form {
		min-height: 130px;
		margin-bottom: 50px;
		flex-flow: row wrap;
		align-content: flex-start;
		justify-content: space-between;
		&__title {
			font-size: 20px;
			min-width: 100%;
			max-width: none;
			margin-bottom: 40px;
		}
		&__lbl {
			width: 260px;
			height: 40px;
		}
		&__btn {
			order: 11;
			margin: 0 0 0 auto;
		}
	}
}

//blocks import
@import 'blocks/header/header.768';
@import 'blocks/hero/hero.768';
@import 'blocks/catalog/catalog.768';
@import 'blocks/delivery/delivery.768';
@import 'blocks/help/help.768';
@import 'blocks/about/about.768';
@import 'blocks/production/production.768';
@import 'blocks/gallery/gallery.768';
@import 'blocks/contacts/contacts.768';
@import 'blocks/footer/footer.768';
