@import 'assets/reset';
@import 'assets/fonts';
@import 'assets/grid';
@import 'assets/colors';
@import 'assets/variables';
@import 'assets/mixins';
@import 'assets/animations';

body {
  font: 16px/normal Playfair Display;
  color: $main-text-color;
}

.slick-slider {
  user-select: none;
  touch-action: pan-y;
}

.slick-track {
  display: flex;
  transform: translate3d(0, 0, 0);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.disabled,
.slick-disabled {
  opacity: .5;
  cursor: not-allowed;
  &:focus {
    outline: none !important;
  }
  &:active {
    transform: none !important;
  }
}
.hide {
  display: none !important;
}

.site-link {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid $brown-light-color;
  line-height: 150%;
  transition: border-bottom-color .35s;
  &::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 5px;
    background: url('../img/next-arrow.svg') center/contain no-repeat;
  }
}

.loader {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $main-text-color;
  border-left-color: $main-text-color;
  animation: spin .5s linear infinite;
  &-bg {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white-color;
    z-index: 12;
    &.active {
      display: flex;
      animation: fadeIn .5s;
    }
  }
}

.duplicate-title {
  position: relative;
  &::before {
    content: attr(data-title);
    position: absolute;
    font-size: 60px;
    letter-spacing: 0.01em;
    color: $duplicate-text-color;
    z-index: 1;
    pointer-events: none;
  }
}

.close,
.prev,
.next,
button {
  >svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
    >path {
      transition: stroke .5s;
    }
  }
}

.check-inp-block.focus {
  outline: 1px dotted $main-text-color;
}

.logo {
  display: flex;
  align-items: center;
  font: 14px Playfair Display;
  &::before {
  	content: '';
  	display: inline-block;
    margin-right: 3px;
  	width: 27px;
  	height: 23px;
    background: url('../img/logo.svg') center/contain no-repeat;
  }
}

.burger-btn {
  width: 26px;
  font-size: 0;
  color: $brown-text-color;
  >svg {
    overflow: visible;
  }
  &.active {
    .top {
      transform: translate(2px, -2px) rotate(45deg);
    }
    .middle {
      width: 26px;
      transform: translate(-6px, 15px) rotate(-45deg);
    }
    .bottom {
      transform: translate(-8px, 7px) rotate(-45deg);
    }
  }
  &-line {
    display: inline-block;
    width: 100%;
    height: 2px;
    pointer-events: none;
    fill: currentColor;
    transform: translateY(0px) rotate(0deg);
    transition: transform .5s, opacity .5s, width .5s;
    &.middle {
      width: 73%;
    }
  }
}

.burger-btn,
.mobile-menu__link,
.contacts-block__tel,
.contacts-block__email,
.contacts-block__link,
.ftr__site-link,
.ftr__dev-link,
.hdr__nav-link,
.catalog-block__more-btn {
  &:active {
    transform: scale(.95);
  }
}

.delivery-card__guarantee,
.btn,
.btn-ol {
  &:active {
    transform: scale(.975);
  }
}

.slick-dots>li>button:active {
  transform: scale(.825);
}

.slick-dots {
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 70vw;
  width: 500px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); 
  padding: 35px 20px;
  font-size: 16px;
  background-color: $white-color;
  z-index: 5;
  overflow: auto;
  &::before {
    font-size: 200px;
    transform: rotate(-90deg);
    bottom: 52%;
    height: 0.57em;
    line-height: 0.6em;
    overflow: hidden;
    z-index: -1;
    left: calc((100vw - 320px)/(575 - 320)*(48 - -131) + -131px);
  }
  &__logo {
    &::before {
      min-width: 38px;
      height: 35px;
      margin-right: 9px;
    }
    &-text {
      font-size: 14px;
    }
  }
  &.active {
    display: flex;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    // margin: 100px 0;
  }
  &__link:nth-last-child(n+2) {
    margin-bottom: 30px;
  }
  &__tel {
    display: block;
    font-family: Montserrat;
  }
  &__site-link {
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid $brown-light-color;
    line-height: 150%;
    margin-top: 10px;
    &::after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 5px;
      margin-left: 10px;
      background: url('../img/next-arrow.svg') center/contain no-repeat;
    }
  }
}

.btn, .btn-ol {
  width: 100%;
  position: relative;
  width: 100%;
  font: bold 16px Playfair Display;
  letter-spacing: 0.02em;
}

.btn {
  background-color: $option-page-color;
  color: $white-text-color;
  &::after, &::before {
    content: '';
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 100%;
    height: 100%;
    border: 1px solid $option-page-color;
    pointer-events: none;
    transition: all .5s;
  }
  &::after {
    top: -5px;
    left: -5px;
  }
}

.btn-ol {
  color: $main-text-color;
  border: 1px solid $option-page-color;
  transition: background-color .5s, color .5s;
}

.sect {
  &-title {
    font-size: 26px;
  }
  &-subtitle {
    font: 500 16px/150% Montserrat;
  }
}

.arrows {
  display: inline-flex;
  align-items: center;
}

.next, .prev {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  // width: 14px;
  // height: 5px;
  width: 18.2px;
  height: 6.5px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  >svg {
    >path {
      stroke: $brown-light-color;
      stroke-width: 2;
    }
  }
}

.prev {
  // margin-bottom: -5px;
  margin-bottom: -8px;
  right: auto;
  left: 0;
}

.info-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 11px;
  height: 11px;
  background-color: $quiz-inp-color;
  border: 1px solid transparent;
  font: 600 8px Montserrat;
  color: $brown-light-color;
  margin-right: 5px;
  transition: background-color .35s, border-color .35s;
}

.form {
  &__title {
    font-size: 26px;
  }
  &__inp-block {
    margin-top: 36px;
    &:last-of-type {
      margin-bottom: 10px;
    }
    >.inp {
      width: 100%;
      height: 19px;
    }
  }
  &__btn {
    display: block;
    margin: 25px auto 0;
    max-width: 160px;
    min-height: 47px;
  }
}

#privacy-policy-error {
  width: 100%;
  order: 10;
}

label.invalid {
  font-size: 8px;
  color: $invalid-color;
  text-align: center;
  margin-top: 5px;
}

.check-inp-block {
  width: 101%;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  font: 8px Montserrat;
  cursor: pointer;
  &__inp {
    margin: 0;
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }
  &__inp:checked {
    ~.check-inp-block__pseudo-inp {
      background-color: $brown-light-color;
    }
    ~.check-inp-block__lbl {
      text-shadow: 0px 0px .1px;
    }
  }
  &__pseudo-inp {
    font-size: 0;
    margin-right: 5px;
    // width: 8px;
    // height: 8px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-color;
    border: 1px solid $brown-light-color;
    transition: background-color .4s;
    &::after {
      content: '';
      width: 5px;
      height: 5px;
      background: url('../img/check.svg') center/contain no-repeat;
    }
  }
}

.inp-block {
  position: relative;
  font: 16px Montserrat;
  &__lbl {
    position: absolute;
    left: 0;
    pointer-events: none;
    transition: font-size .4s, color .4s, top .4s;
    font-size: 12px;
    color: $brown-light-color;
    top: -17px;
  }
}

.inp {
  border: none;
  background: none;
  border-bottom: 1px solid $brown-text-color;
  color: $main-text-color;
  font-family: inherit;
  ~.inp-block__lbl {
    top: -1px;
    color: $brown-text-color;
    font-size: 16px;
  }
  &.focus {
    border-bottom-color: currentColor;
    ~.inp-block__lbl {
      font-size: 12px;
      color: $brown-light-color;
      top: -17px;
    }
  }
  &::placeholder {
    color: rgba(0,0,0,0);
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; 
  background: $overlay-color !important;
  backdrop-filter: blur(1px);
  z-index: 2;
  &.active {
    display: block;
  }
}

.thanks-popup,
.overlay,
.trying-popup,
.video-popup {
  display: none; 
  animation: fadeOut .5s;
  &.active {
    display: flex;
    animation: fadeIn .5s;
  }
}

.trying-popup, .thanks-popup {
  max-width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white-color;
  text-align: center;
}

.trying-popup {
  flex-direction: column;
  width: 320px;
  max-height: 700px;
  padding: 15px 25px 30px;
  overflow: auto;
  z-index: 5;
  &__close {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 0 10px auto;
    transform: translateX(12.5px);
    &:active {
      transform: translateX(12.5px) scale(.9);
    }
    >svg {
      vertical-align: super;
      pointer-events: none;
    }
  }
  &__title {
    font: 600 18px Montserrat;
    color: $brown-text-color;
    order: 1;
  }
  &__desc {
    font: 13.5px/120% Montserrat;
    color: $brown-text-color;
    order: 3;
  }
  &__product {
    &.catalog-card {
      order: 2;
      margin: 10px 0;
      max-width: 100%;
      text-align: left;
      padding: 0;
      flex-flow: column wrap;
      justify-content: center;
      height: 82px;
      min-height: 82px;
    }
    >.catalog-card {
      &__img {
        width: 75px;
        height: 75px;
      }
      &__title {
        margin: 0;
        min-width: 0;
        font-size: 12px;
      }
      &__desc {
        margin-top: 15px;
        font-size: 10px;
        line-height: 160%;
        position: relative;
        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: -7.5px;
          left: 0;
          width: 80%;
          border-bottom: 1px solid $brown-light-color;
        }
      }
    }
  }
  &__form {
    text-align: left;
    order: 4;
    >.inp-block {
      font-size: 15px;
      >.inp {
        &:placeholder-shown~.inp-block__lbl {
          font-size: 15px;
        }
        &:focus~.inp-block__lbl {
          font-size: 11px;
        }        
      }
    }
  }

}

.thanks-popup {
  flex-direction: column;
  width: 280px;
  padding: 20px 50px 45px;
  z-index: 5;
  border: 1px solid $brown-text-color;
  &__close {
    width: 15px;
    height: 15px;
    display: block;
    margin: 0 0 10px auto;
    transform: translateX(30px);
    >svg {
      vertical-align: super;
    }
    &:active {
      transform: translateX(30px) scale(.9);
    }
  }
  &__title {
    font-size: 22px;
    line-height: 130%;
  }
  &__desc {
    margin-top: 15px;
    font: 15px/130% Montserrat;
    color: $brown-text-color;
  }
}

.quiz {
  &-popup {
    // max-width: 280px;
    max-width: 300px;
    width: 100%;
    max-height: calc(100% - 50px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: $white-color;
    font-family: Montserrat;
    color: $brown-text-color;
    overflow: auto;
    z-index: 5;
    display: none; 
    animation: fadeOut .5s;
    &.active {
      display: block;
      animation: fadeIn .5s;
    }
    &::before {
      font: bold 120px Playfair Display;
      z-index: -1;
      left: -28px;
      bottom: 20px;
      line-height: 100%;
    }
    &__close {
      display: block;
      width: 12px;
      height: 12px;
      margin: -10px -10px 0 auto;
      >svg {
        vertical-align: top;
      }
    }

    &__title {
      font-weight: 600;
      line-height: 140%;
    }
    &__desc {
      font-size: 14px;
      line-height: 140%;
      margin: 20px 0 40px;
    }

    &__form {
      >.form__title {
        display: block;
        margin: 45px auto 0;
        max-width: 200px;
        text-align: center;
        font: bold 18px/140% Montserrat;
      }
      >.form__subtitle {
        display: block;
        margin: 20px auto 0;
        text-align: center;
        font: 500 14px/140% Montserrat;
      }
      .check-inp-block  {
        >label.invalid {
          max-width: 200px;
          text-align: left;
          margin-left: 20px;
        }
        >.check-inp-block__pseudo-inp {
          margin-right: 10px;
          width: 10px;
          height: 10px;
        }
        >.check-inp-block__lbl {
          max-width: 200px;
        }
      }
      >.form__btn {
        max-width: 210px;
        min-height: 47px;
        line-height: 47px;
        margin-bottom: 30px;
      }
    }

    &__thanks {
      &-title {
        display: block;
        margin: 70px auto 50px;
        font-size: 20px;
        text-align: center;
      }
      &-desc {
        margin-bottom: 30px;
        font: 500 14px/170% Montserrat;
        text-align: center;
        &:last-child {
          margin-bottom: 70px;
        }
      }
    }
  }

  &-form {
    min-height: 250px;
    color: $main-text-color;
    display: flex;
    flex-direction: column;
    &__title {
      margin-bottom: 10px;
      font-family: Playfair Display;
      color: $main-text-color;
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 160px;
      width: 100%;
      min-height: 47px;
      margin: 14px auto 20px;
      font: 600 16px Playfair Display;
      letter-spacing: 0.02em;
      color: $white-color;
      background-color: $option-page-color;
      border: 1px solid transparent;
      transition: background-color .35s, border-color .35s, color .35s;
      >svg {
        width: 20px;
        height: 6px;
        margin-left: 8px;
        >path {
          stroke: currentColor;
          stroke-width: 1;
        }
      }
    }
    &__lbl {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 12px 8px;
      margin-bottom: 12px;
      border: 1px solid $quiz-inp-color;
      font-size: 14px;
      cursor: pointer;
      &-text {
        pointer-events: none;
      }
      &.active {
        >.quiz-form__pseudo-inp {
          box-shadow: inset 0 0 0 2px $white-color;
        }
      }
    }

    &__pseudo-inp {
      width: 14px;
      height: 14px;
      margin-right: 11px;
      border: inherit;
      background-color: $quiz-inp-color;
      box-shadow: inset 0 0 0 10px $white-color;
      transition: box-shadow .35s;
      pointer-events: none;
    }
  }
}

.progress {
  &__text {
    font-size: 14px;
    color: $main-text-color;
  }

  &__block {
    margin-top: 10px;
    height: 6px;
    border-radius: 5px;
    background-color: $quiz-inp-color;
    position: relative;
    overflow: hidden;
  }
  &__bar {
    width: 0%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $option-page-color;
    will-change: width;
    transition: width .25s;
  }
}

.video {
  &-popup {
    width: calc((100vw * 280) / 320);
    height: calc((100vw * 155) / 320);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    &__close {
      width: 20px;
      height: 20px;
      position: absolute;
      top: -30px;
      right: -10px;
      >svg>path {
        stroke: $white-color;
      }
    }
    .loader {
      border-top-color: $quiz-inp-color;
      border-left-color: $quiz-inp-color;
      &-bg {
        display: flex;
        background-color: transparent;
        z-index: 2;
      }
    }
    >iframe {
      z-index: 3;
    }
  }
}


//blocks import
@import 'blocks/header/header';
@import 'blocks/hero/hero';
@import 'blocks/catalog/catalog';
@import 'blocks/delivery/delivery';
@import 'blocks/help/help';
@import 'blocks/about/about';
@import 'blocks/production/production';
@import 'blocks/gallery/gallery';
@import 'blocks/contacts/contacts';
@import 'blocks/footer/footer';
