@import 'assets/colors';
@import 'assets/variables';
@import 'assets/mixins';

.sect {
	&-title {
		font-size: 32px;
	}
}

.trying-popup {
	padding: 35px 40px 0;
	width: 100%;
	max-width: 800px;
	grid-template-columns: auto auto;
	justify-content: space-between;
	&__close {
		width: 22px;
		height: 22px;
		grid-column: 2;
		margin-bottom: 0;
	}
	&__title {
		grid-row: 2;
		grid-column: 1/span 2;
		width: 350px;
		text-align: left;
		font-size: 20px;
		white-space: nowrap;
	}
	&__desc {
		grid-row: 3;
		grid-column: 1/span 2;
		width: 300px;
		margin-top: 6px;
		white-space: nowrap;
		font-size: 14px;
	}

	&__product {
		>.catalog-card {
			&__img {
				width: 225px;
				height: 225px;
				margin-top: 15px;
			}
			&__title {
				font-size: 16px;
			}
		}
		&.catalog-card {
			grid-row: 4;
			flex-flow: column nowrap;
			max-width: 270px;
		}
	}

	.catalog-card__gems-block {
		justify-content: space-between;
		margin-bottom: 35px;
	}

	&__form {
		&-wrap {
			max-width: 335px;
			width: 100%;
			align-self: center;
			grid-column: 2;
			grid-row: 3/span 2;
		}
	}
}

.quiz {
	&-popup {
		flex-wrap: wrap;
		align-items: center;
		max-width: 610px;
		&.active {
			display: flex;
		}
		&__title {
			min-width: 100%;
		}
		&__close {
			width: 20px;
			height: 20px;
			margin: -20px -15px 0 auto;
		}

		.progress__block {
			width: 340px;
		}

		&__form {
			display: flex;
			flex-direction: column;
			align-items: center;
			>.form__title {
				max-width: none;
			}
			>.form__subtitle {
				font-size: 16px;
			}
			>.inp-block {
				width: 255px;
				margin: 35px auto 0;
			}
			>.check-inp-block {
				font-size: 9px;
				width: 305px;
				>label.invalid {
					max-width: none;
					margin-left: 0;
					white-space: nowrap;
				}
				&:first-of-type {
					margin: 20px 0 10px;
				}
				>.check-inp-block__lbl {
					max-width: none;
				}
				>.check-inp-block__pseudo-inp {
					margin-right: 6px;
				}
			}
			>.form__btn {
				margin-top: 15px;
			}
		}

		&__thanks-desc {
			padding: 0 50px;
		}
	}
	&-form {
		min-height: 130px;
		margin-bottom: 50px;
		flex-flow: row wrap;
		align-content: flex-start;
		justify-content: space-between;
		&__title {
			font-size: 20px;
			min-width: 100%;
			max-width: none;
			margin-bottom: 40px;
		}
		&__lbl {
			width: 260px;
			height: 40px;
		}
		&__btn {
			order: 11;
			margin: 0 0 0 auto;
		}
	}
}

.video-popup {
	width: 687px;
	height: 380px;
}

//blocks import
@import 'blocks/header/header.768';
@import 'blocks/hero/hero.768';
@import 'blocks/catalog/catalog.768';
@import 'blocks/delivery/delivery.768';
@import 'blocks/help/help.768';
@import 'blocks/about/about.768';
@import 'blocks/production/production.768';
@import 'blocks/gallery/gallery.768';
@import 'blocks/contacts/contacts.768';
@import 'blocks/footer/footer.768';
