@import 'assets/colors';
@import 'assets/variables';
@import 'assets/mixins';

.burger-btn {
  width: 32px;
}

.mobile-menu {
  width: 420px;
  padding: 80px;
  &::before {
    bottom: 31%;
    left: calc((100vw - 576px)/(768 - 576)*(65 - 48) + 48px);
  }
  &__logo {
    &::before {
      width: 46px;
      height: 43px;
    }
    >.logo__text {
      font-size: 16px;
      max-width: 150px;
    }
  }
}

.sect {
  &-title {
    font-size: 28px;
  }
}

.check-inp-block,
label.invalid {
  font-size: 10px;
}

.trying-popup {
  width: 390px;
  &__product {
    &.catalog-card {
      margin: 20px 0;
    }
    >.catalog-card {
      &__img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

.quiz {
  &-popup {
    padding: 40px;
    max-width: 400px;
    &__close {
      margin: -20px -20px 0 auto;
    }
  }
  &-form {
    &__title {
      max-width: 220px;
    }
  }
}


//blocks import
@import 'blocks/header/header.576';
@import 'blocks/hero/hero.576';
@import 'blocks/catalog/catalog.576';
@import 'blocks/delivery/delivery.576';
@import 'blocks/help/help.576';
@import 'blocks/about/about.576';
@import 'blocks/production/production.576';
@import 'blocks/gallery/gallery.576';
@import 'blocks/contacts/contacts.576';
@import 'blocks/footer/footer.576';
